<h1>Affichage des Post</h1>
<br>

<app-add-post [post]='post'  (notify)='onNotify($event)'></app-add-post>
<br><br>
<div *ngFor="let post of postList" [@flyInOut]="in">
  <div *ngIf="!post.edit" class="card">
    <div class="card-header">
      {{post.titre}}
    </div>
    <div class="card-body">
      {{post.texte}}
      <a class="btn btn-danger btn-sm float-right fa fa-trash" (click)="deletePost(post)"></a>
      <a class="btn btn-warning btn-sm float-right fa fa-edit" (click)="editPost(post)"></a>

    </div>
  </div>
  <div *ngIf="post.edit" class="card">
    <app-edit-post [post]='post'></app-edit-post>
  </div>
  <br>
</div>
