<h1>Affichage des Post</h1>
<br>
<a class="btn btn-success" (click)="getPosts()">Charger les Posts</a>
<div *ngFor="let post of postList">
  <div  class="card">
    <div class="card-header">
      {{post.titre}}
    </div>
    <div class="card-body">
      {{post.texte}}
      <a class="btn btn-danger btn-sm float-right" (click)="delete(post)">Supprimer</a>
      <a class="btn btn-warning btn-sm float-right" routerLink="/edit/{{post.id}}">Modifier</a>
      <a class="btn btn-success btn-sm float-right" routerLink="/view/{{post.id}}">Afficher</a>
    </div>
  </div>
  <br>
</div>
