<div class="card">
  <div class="card-body">
    <form (ngSubmit)="addPost()"#addform="ngForm">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="titre"
               required minlength="5"
               [(ngModel)]="post.titre" name="titre" #titre="ngModel">
      </div>

      <div *ngIf="!isSubmitted && titre.invalid && (titre.dirty || titre.touched)"
           class="alert alert-danger">

        <div *ngIf="titre.errors.required">
          Titre is required.
        </div>
        <div *ngIf="titre.errors.minlength">
          Titre must be at least 5 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="texte">Texte</label>
        <input type="text" class="form-control" id="texte"
               required minlength="6"
               [(ngModel)]="post.texte" name="texte" #texte="ngModel">
      </div>

      <div *ngIf="!isSubmitted && texte.invalid && (texte.dirty || texte.touched)"
           class="alert alert-danger">

        <div *ngIf="texte.errors.required">
          Texte is required.
        </div>
        <div *ngIf="texte.errors.minlength">
          Texte must be at least 6 characters long.
        </div>
      </div>
        <button *ngIf="addform.form.valid" (click)="addPost()" type="button" class="btn btn-default">Ajouter</button>
    </form>
    <br>

    <div *ngIf="statuserror" class="alert alert-danger">
      Erreur dans l'ajout du post
    </div>
    <div *ngIf="statusok" class="alert alert-success">
      Post Ajouté
    </div>
  </div>
</div>
